{% extends 'base.html.twig' %}

{% block title %} {{ entity_name | capitalize }} index{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {{ entity_name | capitalize }}
                </h1>
                <h2 class="subtitle">
                    List
                </h2>
            </div>
        </div>
    </section>
    <div class="container">
        <table class="table is-fullwidth">
            <thead>
            <tr>
                {% for key, value in attributes %}
                <th>{{ value | capitalize }}</th>
                {% endfor %}
                <th class="has-text-right">actions</th>
            </tr>
            </thead>
            <tbody>
            {% for data in list %}
                <tr>
                    {% for value in data %}
                    <td>{{ value }}</td>
                    {% endfor %}
                    <td class="has-text-right">
                        <a href="{{ path( entity_name ~ '_show', {'id': data.id}) }}"><span class="icon is-medium"><i class="fas fa-eye"></i></span></a>
                        <a href="{{ path( entity_name ~ '_edit', {'id': data.id}) }}"><span class="icon is-medium"><i class="fas fa-edit"></i></span></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="button" href="{{ path( entity_name ~ '_new') }}">
            <span class="icon is-medium">
              <i class="fas fa-plus-square"></i>
            </span>
            <span>Create new</span>
        </a>
    </div>

{% endblock %}